:root {
    --main-font: 'Montserrat', sans-serif;
    --main-font-color: white;
    --main-element-color: rgb(94, 234, 212);
    --main-background-color: #1c1d25;
}

html {
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--main-font-color);
}

body {
  background-color: var(--main-background-color);
}

.content-container {
    position: relative;
    margin-top: 10px;
    height: calc(100vh - 100px); /* Subtract 100px for the top spacing */
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; Enable snapping for each section */
    scroll-behavior: smooth;
}

.content-container > div:not(:first-child) {
  padding: 10px;
}

.content-container > div {
    height: calc(100vh - 100px); /* Each section takes up the full viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
}

/* Enable scrolling */
.content-container::-webkit-scrollbar {
    width: 0; /* Hide scrollbar */
  }
  
  /* Optional: Handle browser-specific scrollbar styles */
  /* Firefox */
  .content-container {
    scrollbar-width: none;
  }
  
  /* Internet Explorer */
  .content-container {
    -ms-overflow-style: none;
  }

 .footer {
    width: 100%;
    text-align: center;
    padding: 10px;
 }