#skills {

}

.skills-container {
    
}

.project-container {
    margin-top: 20px;
}

.skills-category {
    display: table;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 20px;
    margin-top: 20px;
    padding: 0 20px 0 50px;
    flex-wrap: nowrap;
    border-spacing: 10px;
}

.category {
    text-align: center;   
    padding: 20px 10px 10px;
    /* background: rgba(255, 255, 255, 0.1); */
    /* border-radius: 12px; */
    height: 100%;
    width: 33%;
    cursor: pointer;
    display: table-cell;
    transition: .25s all ease-in-out;
    /* flex: 1 1 auto; */
}

.category .category-title {
    margin: 20px 0;
}

.category-logo {
    height: 70px;
}

.skill-icon {
    display: inline-block;
    padding: 10px;
    position: relative;
    background-color: #2e2f36;
    margin: 5px;
    border-radius: 10px;
}

.skill-icon img{
    height: 50px;
    cursor: pointer;
    /* width: 50px; */
}

.project-list {
    padding: 20px 20px 0 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.project span {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 72px;
    color: white;
    z-index: 99;
}

.project img {
    height: 300px;
    width: 400px;
    filter: grayscale(100%);
    transition: all .5s;
    vertical-align: middle;
}

.project:hover img {
    filter: grayscale(0);
    transform: scale(1.2);
}

.project-title {
    position: absolute;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(6px);
    font-size: 36px;
    width: 100%;
    text-align: right;
    padding: 10px 12px;
    transition: all .5;
}

.project:hover .project-title {
    backdrop-filter: blur(0px);
}
@media only screen and (max-width: 1024px) { 
    .skills-category {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .skills-container, .project-container {
        padding: 20px;
    }

    .category {
        width: 100%;
        flex-basis: 30%;
        margin-top: 10px;
    }

    .project-list {        
        flex-direction: column;
        justify-content: space-evenly;
    }

    .project {
        margin-bottom: 20px;
    }

    .project img {
      
        width: 100%;
    }
}

.skill-tooltip {
    visibility: hidden;
    /* width: 120px; */
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .skill-icon:hover  .skill-tooltip {
    visibility: visible;
    opacity: 1;
  }