#skills {

}

.skills-container {
    
}

.project-container {
    margin-top: 20px;
}

.skills-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 20px;
    margin-top: 20px;
    padding: 0 20px 0 50px;
}

.category {
    text-align: center;   
    padding: 20px 10px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    height: 100%;
    flex-basis: 30%;
    cursor: pointer;
    transition: .25s all ease-in-out;
}

.category:hover {
    transform: scale(1.05);
}

.category .category-title {
    margin: 20px 0;
}

.category-logo {
    height: 70px;
}

@media only screen and (max-width: 1024px) { 
    .skills-category {
        flex-direction: column;
        padding: 0 20px;
    }
    .skills-container, .project-container {
        padding: 20px;
    }

    .category {
        width: 100%;
        margin-top: 10px;
    }
}